parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:addDefaultsIfNotSet\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Method Nucleos\\\\MenuBundle\\\\DependencyInjection\\\\Configuration\\:\\:evaluateChildren\\(\\) has parameter \\$child with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Property Nucleos\\\\MenuBundle\\\\Menu\\\\ConfigBuilder\\:\\:\\$defaultOptions type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Menu/ConfigBuilder.php

		-
			message: "#^Method Nucleos\\\\MenuBundle\\\\Menu\\\\ConfigBuilder\\:\\:buildMenu\\(\\) has parameter \\$menu with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Menu/ConfigBuilder.php

		-
			message: "#^Method Nucleos\\\\MenuBundle\\\\Menu\\\\ConfigBuilder\\:\\:buildMenu\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Menu/ConfigBuilder.php

		-
			message: "#^Method Nucleos\\\\MenuBundle\\\\Menu\\\\ConfigBuilder\\:\\:buildSubMenu\\(\\) has parameter \\$baseMenuOptions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Menu/ConfigBuilder.php

		-
			message: "#^Method Nucleos\\\\MenuBundle\\\\Menu\\\\ConfigBuilder\\:\\:buildSubMenu\\(\\) has parameter \\$configItems with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Menu/ConfigBuilder.php

		-
			message: "#^Method Nucleos\\\\MenuBundle\\\\Menu\\\\ConfigBuilder\\:\\:createItem\\(\\) has parameter \\$baseMenuOptions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Menu/ConfigBuilder.php

		-
			message: "#^Method Nucleos\\\\MenuBundle\\\\Menu\\\\ConfigBuilder\\:\\:createItem\\(\\) has parameter \\$itemDefinition with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Menu/ConfigBuilder.php

		-
			message: "#^Method Nucleos\\\\MenuBundle\\\\Menu\\\\ConfigBuilder\\:\\:createLabel\\(\\) has parameter \\$itemDefinition with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Menu/ConfigBuilder.php

		-
			message: "#^Method Nucleos\\\\MenuBundle\\\\Menu\\\\ConfigBuilder\\:\\:getOptions\\(\\) has parameter \\$baseMenuOptions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Menu/ConfigBuilder.php

		-
			message: "#^Method Nucleos\\\\MenuBundle\\\\Menu\\\\ConfigBuilder\\:\\:getOptions\\(\\) has parameter \\$itemDefinition with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Menu/ConfigBuilder.php

		-
			message: "#^Method Nucleos\\\\MenuBundle\\\\Menu\\\\ConfigBuilder\\:\\:getOptions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Menu/ConfigBuilder.php

		-
			message: "#^Method Nucleos\\\\MenuBundle\\\\Menu\\\\ConfigBuilderInterface\\:\\:buildMenu\\(\\) has parameter \\$menu with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Menu/ConfigBuilderInterface.php

		-
			message: "#^Method Nucleos\\\\MenuBundle\\\\Menu\\\\ConfigBuilderInterface\\:\\:buildMenu\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Menu/ConfigBuilderInterface.php

		-
			message: "#^Method Nucleos\\\\MenuBundle\\\\Provider\\\\ConfigProvider\\:\\:__construct\\(\\) has parameter \\$menuIds with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Provider/ConfigProvider.php

		-
			message: "#^Method Nucleos\\\\MenuBundle\\\\Provider\\\\ConfigProvider\\:\\:get\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Provider/ConfigProvider.php

		-
			message: "#^Method Nucleos\\\\MenuBundle\\\\Provider\\\\ConfigProvider\\:\\:has\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Provider/ConfigProvider.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\HttpKernel\\\\Client not found\\.$#"
			count: 1
			path: tests/BundleIntegrationTest.php

		-
			message: "#^Call to method request\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
			count: 1
			path: tests/BundleIntegrationTest.php

		-
			message: "#^Call to method getResponse\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
			count: 1
			path: tests/BundleIntegrationTest.php

